---
swagger: "2.0"
info:
  description: |
    The Discovery API provides a standardized client interface to search for product offerings across different sales channels and find a suitable product offering. The information in the product catalog is indexed and enables the user to perform faster search operations.
    The API supports the ability to The Product Offering Discovery subdomain enables a user to browse, search, and retrieve qualified product offerings along with the product characteristics as well as its prices. Additionally, it provides Compare, Filter, and Sort capabilities. When browsing and selecting a specific product offer, the user is able to view details such as specifications and promotions.
  version: "1.1"
  title: Product Offering Discovery - Discovery Product Offering
  contact:
    name: Amdocs Inc.
    url: http://www.amdocs.com
    email: support@amdocs.com
  license:
    name: Amdocs Inc.
    url: http://
  x-amdocs:
    exposed: public
    service-principals:
      - pod-search-app-id
      - pod-productoffering-app-id
      - pod-category-app-id
      - pod-price-app-id
host: amdocs.com:10101
basePath: /productOfferingDiscovery/v1.1
tags:
  - name: searchProductOffering
  - name: productOffering
  - name: compareProductOffering
  - name: price
  - name: category
  - name: promotionQualification
schemes:
  - https
consumes:
  - application/json;charset=utf-8
produces:
  - application/json;charset=utf-8
paths:
  /searchProductOffering:
    get:
      tags:
        - searchProductOffering
      summary: (Internal) List product offering entities - use internally by product offering MS
      description: "This service lists product offering entities - internal use by productOffering MS ,limit and offset parameters must be provided together      \n\n**Mandatory&#58;**\n- Request Context (customer, sales channel, cart, order) \n\n**Referenced Data&#58;**\n- relationType - relation types are defined in CatalogOne\n\n**Business Rules&#58;**\n- relationType and relatedEntityId - must be provided together. In some cases where additional entity is needed, relationSecondaryId will be provided with both \n- relatedPartyId and relatedPartyRole  - must be provided together."
      operationId: searchProductOffering
      schemes:
        - https
      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: Accept-Language
          in: header
          description: |
            Locale of the client
          required: false
          type: string
        - name: salesChannel
          in: query
          description: |
            The Sales Channel that the product offering is associated with
          required: false
          type: string
          default: ALL
        - name: relatedPartyId
          in: query
          description: "The relatedPartyId in context, relevant only to CSR \"on-behalf\" context flow, used for qualification eligibility \n"
          required: false
          type: string
        - name: relatedPartyRole
          in: query
          description: "The relatedPartyRole in context (such as customer, user), relevant only to CSR \"on-behalf\" context flow, used for qualification eligibility \n"
          required: false
          type: string
        - name: relatedPartySegment
          in: query
          description: "The relatedPartySegment in context, relevant only to CSR \"on-behalf\" context flow with customer role.\nUsed for qualification, eligibility , price. \nCan hold any segment as defined in customer accessor.\n"
          required: false
          type: string
        - name: textSearch
          in: query
          description: |
            The searchable text within a product offering entity
          required: false
          type: string
        - name: categoryId
          in: query
          description: |
            The category identifiers by which the product offerings are requested by the client
            The supported category values are defined in the product catalog
            <i>Example&#58; categoryId==123</i>
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: categoryName
          in: query
          description: |
            The category name identifiers by which the product offerings are requested by the client
            The supported category values are defined in the product catalog
            <i>Example&#58; categoryName==AddOns</i>
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: characteristics
          in: query
          description: |
            The product characteristics by which the product offerings are requested by the client
            Only the exact match is supported
            <i>Example&#58; characteristics={[fieldName]&#58; [[value],,[value]],, [fieldName]&#58; [[value],,[value]]}</i>
            <i>Example&#58;characteristics=[{"fieldName"&#58; "Color", "values"&#58; ["Gold"]}]</i>
          required: false
          type: string
        - name: relationType
          in: query
          description: |
            The type of the relation by which the related product offering population requested by the client is retrieved
          required: false
          type: string
        - name: relationRole
          in: query
          description: |
            The business type definition of the relation by which the related product offering population requested by the client is retrieved
            like &#58;
              - RelatedDevice.
              - Add-On.
              - Accessories
          required: false
          type: string
        - name: returnSource
          in: query
          description: "In case set to true, the reverse lookup target to source will be performed - default = false\n- when in use (true) in get relationships will return the relationship which the search ID is the target\n- when in use in search productoffering will return a list of source product offers that related to this specific offer \n"
          required: false
          type: boolean
        - name: relatedEntityId
          in: query
          description: "The related product offering ID by which the related product offering population requested by the client is retrieved, The replaceable product offering ID by which the replaceable product offering population requested by the client is retrieved, user would like to replace his plan with a replaceable offer \n"
          required: false
          type: string
        - name: relationId
          in: query
          description: "\"The relation where relatedEntityId is the source, and we want to get the related product offerings for. This will be obtained by the user by calling the /productOfferingRelationship endpoint first and selecting which relation to get related offers for. The relatedProductOfferings that will be returned are the targets of this relation.\" \n"
          required: false
          type: string
        - name: relationSecondaryId
          in: query
          description: "When needed by flow will represent additional offer needed as input, user wants to replace a plan (his current plan will be relatedEntityId) which is compatible with his existing 'device' (the secondary input for the replace flow)\nin case of subscription relation will represent the additional subscription offer as input (cart item id, order item id)  \n"
          required: false
          type: string
        - name: relationSecondaryType
          in: query
          description: "When needed by flow will represent the context of the relationSecondaryId, in case a replace for a bundle is needed and a product offer inside the bundle is kept \n•  relationType – populated with “replaceable”\n•  relatedEntityId – populated with current bundle productOfferID\n•  relationSecondaryId – populated with current device offerID\n•  relationSecondaryType – populated with bundle type  \n"
          required: false
          type: string
        - name: secondaryContextType
          in: query
          description: |
            When needed by flow will represent the context of the relationSecondaryId, Cart, Order, Inventory
          required: false
          type: string
        - name: secondaryContextMainId
          in: query
          description: |
            When needed by flow will represent the context of the secondaryContextMainId, CartId, OrderId, Inventory
          required: false
          type: string
        - name: productOfferingTypeGroup
          in: query
          description: |
            The (real) type of the product offering, The service searches for any of the product, in the product offer tree which match a specific productOfferingTypeGroup
          required: false
          type: string
        - name: productOfferingGroup
          in: query
          description: |
            The reference to all product offerings in case of dynamic group, return the bundle group population in the case the group holds only policy (dynamic group), known as policyId in BundledProductConfigurationGroup of product configuration.
            supported values are&#58;
              - defined in Catalog - group in BundledGroupProductOffering
          required: false
          type: string
        - name: groupByVariantGroup
          in: query
          description: |
            Indicates whether the search results shall be grouped to their variant groups
          required: false
          type: boolean
          default: false
        - name: offset
          in: query
          description: "Requested index for start of resources to be provided in the response requested by the client \n"
          required: false
          type: integer
        - name: limit
          in: query
          description: |
            Requested number of resources to be provided in the response requested by the client
          required: false
          type: integer
        - name: sort
          in: query
          description: ' The fields by which the response is requested by the client to be sorted. The supported values are:priceRC, priceOC, startDateTime and name'
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: minPrice
          in: query
          description: |
            The minimum value used for searching a price
          required: false
          type: number
        - name: maxPrice
          in: query
          description: |
            The maximum value used for searching a price
          required: false
          type: number
        - name: priceType
          in: query
          description: |
            The type of the price, for example, OC or RC. If no value is provided, a configuration value is used. The parameter is relevant for the filtering of minPrice maxPrice
          required: false
          type: string
        - name: recurringChargePeriod
          in: query
          description: |
            The period of the recurring charge, for example, weekly, monthly
          required: false
          type: string
        - name: contextType
          in: query
          description: |
            The type of the context from which the call is performed, for example, ProductOffering (catalog), Cart, Order, Inventory without context means aleways ProductOffering
          required: false
          type: string
          x-example: Cart
        - name: contextMainIdentifier
          in: query
          description: |
            The identifier of the main entity in the context from which the call is performed, for example, cart ID or order ID
          required: false
          type: string
        - name: contextItemIdentifier
          in: query
          description: |
            The ID of the related entity - CartItemId, OrderItemId (ProductId)
          required: false
          type: string
        - name: contextIdentifier
          in: query
          description: |
            The ID of the related entity - product offering ID
          required: false
          type: string
        - name: mask
          in: query
          description: |
            The parameter of the mask query. A mask is a set of flags that impact the service and the returned fields. The supported values
            - *returnStockInformation* - Returns stock information by calling stock management. When no mask is supplied, the information about the ‘stock’ will not be returned.
            -*onlyIds* - Returnes only the ids of the search response offers (send the response as it arrives from the search MS)
          required: false
          type: string
        - name: stockAvailabilityStatus
          in: query
          description: |
            The stock availability status by which the product offerings requested by the client are retrieved, for example, inStock, OutOfStock, or LowStock
          required: false
          type: string
        - name: disableServiceabilityCheck
          in: query
          description: |
            "In case set to true, skip the serviceability check"
          required: false
          type: boolean
          default: false
        - name: checkQualification
          in: query
          description: "Indicates whether to perform qualification check for offer if set to false do not perform the qualification check. If set to true, perform the qualification check (default)"
          required: false
          type: boolean
          default: true
        - name: enableAutoComplete
          in: query
          description: |
            "Indicates whether to enable auto completion of the text search"
          required: false
          type: boolean
          default: false
        - name: groupByCategory
          in: query
          description: |
            Indicates whether the product offers are sorted by categories or not
            Note: if set to true, no additional sort can be applied
          required: false
          type: boolean
          default: false
        - name: excludePrices
          in: query
          description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
          required: false
          type: boolean
          default: false
        - name: mustBeBundled
          in: query
          description: |
            "Determines if the product offering can be sold as a standalone\
            \ (false), or available only as part of a bundle or bundles (true)."
          required: false
          type: boolean
        - name: "productOfferingId"
          in: "query"
          description: "The searchable product offering identifiers, the list of IDs\
            \ is limited to be paginated by client - the URI length is limited to 2048\
            \ characters"
          required: false
          type: "array"
          items:
            type: "string"
            minLength: 1
          collectionFormat: "multi"
        - name: "productOfferingName"
          in: "query"
          description: "The searchable product offering identifiers, the list of Names\
            \ is limited to be paginated by client - the URI length is limited to 2048\
            \ characters"
          required: false
          type: "array"
          items:
            type: "string"
            minLength: 1
          collectionFormat: "multi"
        - name: includeExpiredOffers
          in: query
          description: "Indicates if search should return expired product offers or not."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: |
            *OK* - The SearchProductOffering information was retrieved successfully.
          headers:
            X-Total-Count:
              type: integer
              format: int64
              description: |
                The total number of matching resources
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductOffering'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        412:
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-Microservice: pod-search-ms
      x-dox-InternalAPI: true
      x-amdocs:
        route-service: pod-search-service
        private-roles:
          - D1P_ProductOfferingDiscovery_read
  /searchProductOfferingInfo:
    get:
      tags:
        - searchProductOffering
      summary: (Internal) List product offering details by IDs - use internally by product offering MS
      description: "(Internal) List product offering details by IDs - use internally by product offering MS      \n"
      operationId: searchProductOfferingInfo
      schemes:
        - https
      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: Accept-Language
          in: header
          description: |
            Locale of the client
          required: false
          type: string
        - name: salesChannel
          in: query
          description: |
            The Sales Channel that the product offering is associated with
          required: false
          type: string
          default: ALL
        - name: productOfferingId
          in: query
          description: The searchable product offering identifiers, the list of IDs is limited to be paginated by client - the URI length is limited to 2048 characters- when IDs are supplied all other filtering is disregarded
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: "multi"
        - name: "productOfferingName"
          in: "query"
          description: "The searchable product offering identifiers, the list of Names\
          \ is limited to be paginated by client - the URI length is limited to 2048\
          \ characters"
          required: false
          type: "array"
          items:
            type: "string"
            minLength: 1
          collectionFormat: "multi"
      responses:
        "200":
          description: |
            *OK* - The SearchProductOffering information was retrieved successfully.
          headers:
            X-Total-Count:
              type: integer
              format: int64
              description: |
                The total number of matching resources
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductOffering'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "412":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-Microservice: pod-search-ms
      x-dox-InternalAPI: true
      x-amdocs:
        route-service: pod-search-service
        private-roles:
          - D1P_ProductOfferingDiscovery_read
  /productOfferingRelationship:
    get:
      tags:
        - searchProductOffering
      summary: List product offering relationships which the product offer is their source
      description: "This service lists product offering relationships which the product offer is their source       \n\n**Mandatory&#58;**\n- Request Context (customer, sales channel, cart, order), limit and offset parameters must be provided together \n\n**Referenced Data&#58;**\n- relationType - relation types are defined in CatalogOne\n source offer is the source offer / source group that the relations should relate to\n Target offer are not to be used, the structure includes them, but they will be populated only after calculation. Calculation is not a part of this API\n"
      operationId: productOfferingRelationship
      schemes:
        - https
      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: Accept-Language
          in: header
          description: |
            Locale of the client
          required: false
          type: string
        - name: salesChannel
          in: query
          description: |
            The Sales Channel that the product offering is associated with
          required: false
          type: string
          default: ALL
        - name: relatedPartyId
          in: query
          description: "The relatedPartyId in context, relevant only to CSR \"on-behalf\" context flow, used for qualification eligibility \n"
          required: false
          type: string
        - name: relatedPartyRole
          in: query
          description: "The relatedPartyRole in context (such as customer, user), relevant only to CSR \"on-behalf\" context flow, used for qualification eligibility \n"
          required: false
          type: string
        - name: relatedPartySegment
          in: query
          description: "The relatedPartySegment in context, relevant only to CSR \"on-behalf\" context flow with customer role.\nUsed for qualification, eligibility , price. \nCan hold any segment as defined in customer accessor.\n"
          required: false
          type: string
        - name: returnSource
          in: query
          description: "In case set to true, the reverse lookup target to source will be performed - default = false\n- when in use (true) in get relationships will return the relationship which the search ID is the target\n- when in use in search productoffering will return a list of source product offers that related to this specific offer \n"
          required: false
          type: boolean
        - name: relatedEntityId
          in: query
          description: "The related product offering ID by which the related product offering population requested by the client is retrieved, The replaceable product offering ID by which the replaceable product offering population requested by the client is retrieved, user would like to replace his plan with a replaceable offer \n"
          required: false
          type: string
        - name: relationType
          in: query
          description: "The type of the relation by which the related product offering population requested by the client is retrieved"
          required: false
          type: string
        - name: relationRole
          in: query
          description: |
            The business type definition of the relation by which the related product offering population requested by the client is retrieved
            like &#58;
              - RelatedDevice.
              - Add-On.
              - Accessories
          required: false
          type: string
        - name: offset
          in: query
          description: "Requested index for start of page to be provided in the response requested by the client \n"
          required: false
          type: integer
        - name: limit
          in: query
          description: |
            Requested number of resources to be provided in the response requested by the client
          required: false
          type: integer
      responses:
        200:
          description: |
            *OK* - The SearchProductOffering information was retrieved successfully.
          headers:
            X-Total-Count:
              type: integer
              format: int64
              description: |
                The total number of matching resources
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductOfferingRelationship'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        412:
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-Microservice: pod-search-ms
      x-amdocs:
        route-service: pod-search-service
        public-roles:
          - D1_ProductOfferingDiscovery_retrieve
        private-roles:
          - D1P_ProductOfferingDiscovery_read
          - FndP_APIGateway_gw
  /productOffering:
    get:
      tags:
        - productOffering
      summary: List product offering entities
      description: "This service lists product offering entities related to the provided search criteria.        \n\n**Mandatory&#58;**\n- Request Context (customer, sales channel, cart, order)\n\n**Referenced Data&#58;**\n- relationType - relation types are defined in CatalogOne\n\n**Business Rules&#58;;**\n- relationType and relatedEntityId - must be provided together. In some cases where additional entity is needed, relationSecondaryId will be provided with both.\n- Limit and offset parameters - must be provided together.\n- relatedPartyId and relatedPartyRole  - must be provided together."
      operationId: productOffering
      schemes:
        - https
      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: Accept-Language
          in: header
          description: |
            Locale of the client
          required: false
          type: string
        - name: salesChannel
          in: query
          description: |
            The Sales Channel that the product offering is associated with
          required: false
          type: string
          default: ALL
        - name: relatedPartyId
          in: query
          description: "The relatedPartyId in context, relevant only to CSR \"on-behalf\" context flow, used for qualification eligibility \n"
          required: false
          type: string
        - name: relatedPartyRole
          in: query
          description: "The relatedPartyRole in context (such as customer, user), relevant only to CSR \"on-behalf\" context flow, used for qualification eligibility \n"
          required: false
          type: string
        - name: relatedPartySegment
          in: query
          description: "The relatedPartySegment in context, relevant only to CSR \"on-behalf\" context flow with customer role.\nUsed for qualification, eligibility , price. \nCan hold any segment as defined in customer accessor.\n"
          required: false
          type: string
        - name: "productOfferingId"
          in: "query"
          description: "The searchable product offering identifiers, the list of IDs\
            \ is limited to be paginated by client - the URI length is limited to 2048\
            \ characters"
          required: false
          type: "array"
          items:
            type: "string"
            minLength: 1
          collectionFormat: "multi"
        - name: "productOfferingName"
          in: "query"
          description: "The searchable product offering identifiers, the list of Names\
            \ is limited to be paginated by client - the URI length is limited to 2048\
            \ characters"
          required: false
          type: "array"
          items:
            type: "string"
            minLength: 1
          collectionFormat: "multi"
        - name: textSearch
          in: query
          description: |
            The searchable text within a product offering entity
          required: false
          type: string
        - name: categoryId
          in: query
          description: |
            The category identifiers by which the product offerings are requested by the client
            The supported category values are defined in the product catalog
            <i>Example&#58; categoryId==123</i>
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: categoryName
          in: query
          description: |
            The category name identifiers by which the product offerings are requested by the client
            The supported category values are defined in the product catalog
            <i>Example&#58; categoryName==AddOns</i>
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: characteristics
          in: query
          description: |
            The product characteristics by which the product offerings are requested by the client
            Only the exact match is supported
            <i>Example&#58; characteristics={[fieldName]&#58; [[value],,[value]],, [fieldName]&#58; [[value],,[value]]}</i>
            <i>Example&#58;characteristics=[{"fieldName"&#58; "Color", "values"&#58; ["Gold"]}]</i>
          required: false
          type: string
        - name: relationType
          in: query
          description: |
            The type of the relation by which the related product offering population requested by the client is retrieved
          required: false
          type: string
        - name: relationRole
          in: query
          description: |
            The business type definition of the relation by which the related product offering population requested by the client is retrieved
            like &#58;
              - RelatedDevice.
              - Add-On.
              - Accessories
          required: false
          type: string
        - name: returnSource
          in: query
          description: "In case set to true, the reverse lookup target to source will be performed - default = false\n- when in use (true) in get relationships will return the relationship which the search ID is the target\n- when in use in search productoffering will return a list of source product offers that related to this specific offer \n"
          required: false
          type: boolean
        - name: relationId
          in: query
          description: "\"The relation where relatedEntityId is the source, and we want to get the related product offerings for. This will be obtained by the user by calling the /productOfferingRelationship endpoint first and selecting which relation to get related offers for. The relatedProductOfferings that will be returned are the targets of this relation.\" \n"
          required: false
          type: string
        - name: relatedEntityId
          in: query
          description: "The related product offering ID by which the related product offering population requested by the client is retrieved, The replaceable product offering ID by which the replaceable product offering population requested by the client is retrieved, user would like to replace his plan with a replaceable offer \n"
          required: false
          type: string
        - name: relationSecondaryId
          in: query
          description: "When needed by flow will represent additional offer needed as input, user wants to replace a plan (his current plan will be relatedEntityId) which is compatible with his existing 'device' (the secondary input for the replace flow)\nin case of subscription relation will represent the additional subscription offer as input (cart item id, order item id)  \n"
          required: false
          type: string
        - name: relationSecondaryType
          in: query
          description: "When needed by flow will represent the context of the relationSecondaryId, in case a replace for a bundle is needed and a product offer inside the bundle is kept \n•  relationType – populated with “replaceable”\n•  relatedEntityId – populated with current bundle productOfferID\n•  relationSecondaryId – populated with current device offerID\n•  relationSecondaryType – populated with bundle type  \n"
          required: false
          type: string
        - name: secondaryContextType
          in: query
          description: |
            When needed by flow will represent the context of the relationSecondaryId, Cart, Order, Inventory
          required: false
          type: string
        - name: secondaryContextMainId
          in: query
          description: |
            When needed by flow will represent the context of the secondaryContextMainId, CartId, OrderId, Inventory
          required: false
          type: string
        - name: relationSecondaryContextType
          in: query
          description: |
            The context where the subscriberMainOffer resides. Valid values are cart, order, inventory.
          required: false
          type: string
        - name: productOfferingTypeGroup
          in: query
          description: |
            The (real) type of the product offering, The service searches for any of the product, in the product offer tree which match a specific productOfferingTypeGroup
          required: false
          type: string
        - name: productOfferingGroup
          in: query
          description: |
            The reference to all product offerings in case of dynamic group, return the bundle group population in the case the group holds only policy (dynamic group), known as policyId in BundledProductConfigurationGroup of product configuration.
            supported values are&#58;
              - defined in Catalog - group in BundledGroupProductOffering
          required: false
          type: string
        - name: groupByVariantGroup
          in: query
          description: |
            Indicates whether to search results shall be grouped to their variant groups
          required: false
          type: boolean
          default: false
        - name: offset
          in: query
          description: "Requested index for start of resources to be provided in the response requested by the client \n"
          required: false
          type: integer
        - name: limit
          in: query
          description: |
            Requested number of resources to be provided in the response requested by the client
          required: false
          type: integer
        - name: sort
          in: query
          description: ' The fields by which the response is requested by the client to be sorted. The supported values are: priceRC, priceOC, startDateTime and name'
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: minPrice
          in: query
          description: |
            The minimum value used for searching a price
          required: false
          type: number
        - name: maxPrice
          in: query
          description: |
            The maximum value used for searching a price
          required: false
          type: number
        - name: priceType
          in: query
          description: |
            The type of the price, for example, OC or RC. If no value is provided, a configuration value is used. The parameter is relevant for the filtering of minPrice maxPrice
          required: false
          type: string
        - name: recurringChargePeriod
          in: query
          description: |
            The period of the recurring charge, for example, weekly, monthly
          required: false
          type: string
        - name: contextType
          in: query
          description: |
            The type of the context from which the call is performed, for example, ProductOffering (catalog), Cart, Order, Inventory without context means aleways ProductOffering
          required: false
          type: string
          x-example: Cart
        - name: contextMainIdentifier
          in: query
          description: |
            The identifier of the main entity in the context from which the call is performed, for example, cart ID or order ID
          required: false
          type: string
        - name: contextItemIdentifier
          in: query
          description: |
            The ID of the related entity - CartItemId, OrderItemId (ProductId)
          required: false
          type: string
        - name: contextIdentifier
          in: query
          description: |
            The ID of the related entity - product offering ID
          required: false
          type: string
        - name: mask
          in: query
          description: |
            The parameter of the mask query. A mask is a set of flags that impact the service and the returned fields. The supported values
            - *returnStockInformation* - Returns stock information by calling stock management. When no mask is supplied, the information about the ‘stock’ will not be returned.
            -*onlyIds* - Returnes only the ids of the search response offers (send the response as it arrives from the search MS)
          required: false
          type: string
        - name: stockAvailabilityStatus
          in: query
          description: |
            The stock availability status by which the product offerings requested by the client are retrieved, for example, inStock, OutOfStock, or LowStock
          required: false
          type: string
        - name: disableServiceabilityCheck
          in: query
          description: |
            In case set to true, skip the serviceability check"
          required: false
          type: boolean
          default: false
        - name: checkQualification
          in: query
          description: |
            Indicates whether to perform qualification check for offer details  if set to false, do not perform the qualification check. If set to true, perform the qualification check (default).
          required: false
          type: boolean
          default: true
        - name: enableAutoComplete
          in: query
          description: |
            Indicates whether to enable auto completion of the text search
          required: false
          type: boolean
          default: false
        - name: groupByCategory
          in: query
          description: |
            Indicates whether the product offers are sorted by categories or not
            Note: if set to true, no additional sort can be applied
          required: false
          type: boolean
          default: false
        - name: includeAllNodes
          in: query
          description: |
            Indicates whether the full node tree is returned or only the top two levels.
            If set to false (default), only the top two levels are returned.
            If set to true, the full node tree is returned.
          required: false
          type: boolean
          default: false
        - name: excludePrices
          in: query
          description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
          required: false
          type: boolean
          default: false
        - name: mustBeBundled
          in: query
          description: |
            "Determines if the product offering can be sold as a standalone\
            \ (false), or available only as part of a bundle or bundles (true)."
          required: false
          type: boolean
        - name: includeExpiredOffers
          in: query
          description: "Indicates if search should return expired product offers or not."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: |
            *OK* - The SearchProductOffering information was retrieved successfully.
          headers:
            X-Total-Count:
              type: integer
              format: int64
              description: |
                The total number of matching resources
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductOffering'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        412:
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-Microservice: pod-productoffering-ms
      x-amdocs:
        route-service: pod-productoffering-service
        public-roles:
          - D1_ProductOfferingDiscovery_retrieve
        private-roles:
          - D1P_ProductOfferingDiscovery_read
          - FndP_APIGateway_gw
  /searchProductOfferRelatedCategory:
    get:
      tags:
        - searchProductOffering
      summary: Retrieve a list of product offerings with relation to a certain category
      description: "This service retrieves an array of categories with the total number of product offerings that relate to the category by the provided search criteria.\n\n**Mandatory&#58;**\n- Request Context (customer, sales channel, cart, order) \n\n**Business Rules&#58;**\nrelationType, relatedEntityId - paired together, meaning must be provided together in some cases where additional entity is needed relationSecondaryId will be provided with both, limit and offset parameters must be provided together. \n"
      operationId: searchProductOfferRelatedCategory
      schemes:
        - https
      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: Accept-Language
          in: header
          description: |
            Locale of the client
          required: false
          type: string
        - name: salesChannel
          in: query
          description: |
            The Sales Channel that the product offering is associated with
          required: false
          type: string
          default: ALL
        - name: relatedPartyId
          in: query
          description: "The relatedPartyId in context, relevant only to CSR \"on-behalf\" context flow, used for qualification eligibility \n"
          required: false
          type: string
        - name: relatedPartyRole
          in: query
          description: "The relatedPartyRole in context (such as customer, user), relevant only to CSR \"on-behalf\" context flow, used for qualification eligibility \n"
          required: false
          type: string
        - name: relatedPartySegment
          in: query
          description: "The relatedPartySegment in context, relevant only to CSR \"on-behalf\" context flow with customer role.\nUsed for qualification, eligibility , price. \nCan hold any segment as defined in customer accessor.\n"
          required: false
          type: string
        - name: textSearch
          in: query
          description: |
            The searchable text within a product offering entity
          required: false
          type: string
        - name: categoryId
          in: query
          description: |
            The category identifiers by which the product offerings are requested by the client
            The supported category values are defined in the product catalog
            <i>Example&#58; categoryId==123</i>
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: categoryName
          in: query
          description: |
            The category name identifiers by which the product offerings are requested by the client
            The supported category values are defined in the product catalog
            <i>Example&#58; categoryName==AddOns</i>
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: characteristics
          in: query
          description: |
            The product characteristics by which the product offerings are requested by the client
            Only the exact match is supported
            <i>Example&#58; characteristics={[fieldName]&#58; [[value],,[value]],, [fieldName]&#58; [[value],,[value]]}</i>
            <i>Example&#58;characteristics=[{"fieldName"&#58; "Color", "values"&#58; ["Gold"]}]</i>
          required: false
          type: string
        - name: relatedEntityId
          in: query
          description: "The related product offering ID by which the related product offering population requested by the client is retrieved, The replaceable product offering ID by which the replaceable product offering population requested by the client is retrieved, user would like to replace his plan with a replaceable offer \n"
          required: false
          type: string
        - name: relationType
          in: query
          description: "The type of the relation by which the related product offering population requested by the client is retrieved"
          required: false
          type: string
        - name: relationRole
          in: query
          description: |
            The business type definition of the relation by which the related product offering population requested by the client is retrieved
            like &#58;
              - RelatedDevice.
              - Add-On.
              - Accessories
          required: false
          type: string

        - name: relationId
          in: query
          description: "\"The relation where relatedEntityId is the source, and we want to get the related product offerings for. This will be obtained by the user by calling the /productOfferingRelationship endpoint first and selecting which relation to get related offers for. The relatedProductOfferings that will be returned are the targets of this relation.\" \n"
          required: false
          type: string
        - name: relationSecondaryId
          in: query
          description: "When needed by flow will represent additional offer needed as input, user wants to replace a plan (his current plan will be relatedEntityId) which is compatible with his existing 'device' (the secondary input for the replace flow)\nin case of subscription relation will represent the additional subscription offer as input (cart item id, order item id)  \n"
          required: false
          type: string
        - name: relationSecondaryType
          in: query
          description: "When needed by flow will represent the context of the relationSecondaryId, in case a replace for a bundle is needed and a product offer inside the bundle is kept \n•  relationType – populated with “replaceable”\n•  relatedEntityId – populated with current bundle productOfferID\n•  relationSecondaryId – populated with current device offerID\n•  relationSecondaryType – populated with bundle type  \n"
          required: false
          type: string
        - name: productOfferingTypeGroup
          in: query
          description: |
            The (real) type of the product offering, The service searches for any of the product, in the product offer tree which match a specific productOfferingTypeGroup
          required: false
          type: string
        - name: productOfferingGroup
          in: query
          description: |
            The reference to all product offerings in case of dynamic group, return the bundle group population in the case the group holds only policy (dynamic group), known as policyId in BundledProductConfigurationGroup of product configuration.
            supported values are&#58;
              - defined in Catalog - group in BundledGroupProductOffering
          required: false
          type: string
        - name: groupByVariantGroup
          in: query
          description: |
            Indicates whether the search results shall be grouped to their variant groups
          required: false
          type: boolean
          default: false
        - name: offset
          in: query
          description: "Requested index for start of resources to be provided in the response requested by the client \n"
          required: false
          type: integer
        - name: limit
          in: query
          description: |
            Requested number of resources to be provided in the response requested by the client
          required: false
          type: integer
        - name: sort
          in: query
          description: ' The fields by which the response is requested by the client to be sorted. The supported values are: priceRC, priceOC, startDateTime and name'
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: minPrice
          in: query
          description: |
            The minimum value used for searching a price
          required: false
          type: number
        - name: maxPrice
          in: query
          description: |
            The maximum value used for searching a price
          required: false
          type: number
        - name: priceType
          in: query
          description: |
            The type of the price, for example, OC or RC. If no value is provided, a configuration value is used. The parameter is relevant for the filtering of minPrice maxPrice
          required: false
          type: string
        - name: recurringChargePeriod
          in: query
          description: |
            The period of the recurring charge, for example, weekly, monthly
          required: false
          type: string
        - name: contextType
          in: query
          description: |
            The type of the context from which the call is performed, for example, ProductOffering (catalog), Cart, Order, Inventory without context means aleways ProductOffering
          required: false
          type: string
          x-example: Cart
        - name: contextMainIdentifier
          in: query
          description: |
            The identifier of the main entity in the context from which the call is performed, for example, cart ID or order ID
          required: false
          type: string
        - name: contextItemIdentifier
          in: query
          description: |
            The ID of the related entity - CartItemId, OrderItemId (ProductId)
          required: false
          type: string
        - name: contextIdentifier
          in: query
          description: |
            The ID of the related entity - product offering ID
          required: false
          type: string
        - name: mask
          in: query
          description: |
            The parameter of the mask query. A mask is a set of flags that impact the service and the returned fields. The supported values
            - *returnStockInformation* - Returns stock information by calling stock management.
            - *returnProductOfferingIds* - return list of product offering id only
          required: false
          type: string
        - name: "productOfferingId"
          in: "query"
          description: "The searchable product offering identifiers, the list of IDs\
            \ is limited to be paginated by client - the URI length is limited to 2048\
            \ characters"
          required: false
          type: "array"
          items:
            type: "string"
            minLength: 1
          collectionFormat: "multi"
        - name: "productOfferingName"
          in: "query"
          description: "The searchable product offering identifiers, the list of Names\
            \ is limited to be paginated by client - the URI length is limited to 2048\
            \ characters"
          required: false
          type: "array"
          items:
            type: "string"
            minLength: 1
          collectionFormat: "multi"
        - name: returnSource
          in: query
          description: |
            Indicates whether the reverse lookup target to source will be performed:
            If set to false (default), target product offering will be returned.
            If set to true, source product offering will be returned.
            Required query params: relatedEntityId, relationType, relationId.
          required: false
          type: boolean
          default: false
        - name: enableAutoComplete
          in: query
          description: |
            "Indicates whether to enable auto completion of the text search"
          required: false
          type: boolean
          default: false
        - name: disableServiceabilityCheck
          in: query
          description: |
            In case set to true, skip the serviceability check"
          required: false
          type: boolean
          default: false
        - name: checkQualification
          in: query
          description: "Indicates whether to perform qualification check for offer if set to false do not perform the qualification check. If set to true, perform the qualification check (default)"
          required: false
          type: boolean
          default: true
        - name: groupByCategory
          in: query
          description: |
            Indicates whether the product offers are sorted by categories or not
            Note: if set to true, no additional sort can be applied
          required: false
          type: boolean
          default: false
        - name: onlyLeafCategory
          in: query
          description: |
            If provided with value "true" return only leaf category (only the category defined on the product offer)
          required: false
          type: boolean
          default: false
        - name: includeExpiredOffers
          in: query
          description: "Indicates if search should return expired product offers or not."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: |
            *OK* - The SearchProductOfferRelatedCategory information was retrieved successfully.
          headers:
            X-Total-Count:
              type: integer
              format: int64
              description: |
                The total number of matching resources
          schema:
            type: array
            items:
              $ref: '#/definitions/SearchProductOfferingRelatedCategory'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        412:
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-Microservice: pod-search-ms
      x-amdocs:
        route-service: pod-search-service
        public-roles:
          - D1_ProductOfferingDiscovery_retrieve
        private-roles:
          - D1P_ProductOfferingDiscovery_read
          - FndP_APIGateway_gw
  /searchProductOfferRelatedCharacteristics:
    get:
      tags:
        - searchProductOffering
      summary: Retrieve product offering characteristics and their values according to search filter
      description: "This service retrieves the product offering characteristic with its corresponding characteristic\nvalues, which are related to the provided search criteria.\n\n**Mandatory&#58;**\n- Request Context (customer, sales channel, cart, order)  limit and offset parameters must be provided together\n"
      operationId: searchProductOfferRelatedCharacteristics
      schemes:
        - https
      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: Accept-Language
          in: header
          description: |
            Locale of the client
          required: false
          type: string
        - name: salesChannel
          in: query
          description: |
            The Sales Channel that the product offering is associated with
          required: false
          type: string
          default: ALL
        - name: relatedPartyId
          in: query
          description: "The relatedPartyId in context, relevant only to CSR \"on-behalf\" context flow, used for qualification eligibility \n"
          required: false
          type: string
        - name: relatedPartyRole
          in: query
          description: "The relatedPartyRole in context (such as customer, user), relevant only to CSR \"on-behalf\" context flow, used for qualification eligibility \n"
          required: false
          type: string
        - name: relatedPartySegment
          in: query
          description: "The relatedPartySegment in context, relevant only to CSR \"on-behalf\" context flow with customer role.\nUsed for qualification, eligibility , price. \nCan hold any segment as defined in customer accessor.\n"
          required: false
          type: string
        - name: textSearch
          in: query
          description: |
            The searchable text within a product offering entity
          required: false
          type: string
        - name: categoryId
          in: query
          description: |
            The category identifiers by which the product offerings are requested by the client
            The supported category values are defined in the product catalog
            <i>Example&#58; categoryId==123</i>
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: categoryName
          in: query
          description: |
            The category name identifiers by which the product offerings are requested by the client
            The supported category values are defined in the product catalog
            <i>Example&#58; categoryName==AddOns</i>
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: characteristics
          in: query
          description: |
            The product characteristics by which the product offerings are requested by the client
            Only the exact match is supported
            <i>Example&#58; characteristics={[fieldName]&#58; [[value],,[value]],, [fieldName]&#58; [[value],,[value]]}</i>
            <i>Example&#58;characteristics=[{"fieldName"&#58; "Color", "values"&#58; ["Gold"]}]</i>
          required: false
          type: string
        - name: relatedEntityId
          in: query
          description: "The related product offering ID by which the related product offering population requested by the client is retrieved, The replaceable product offering ID by which the replaceable product offering population requested by the client is retrieved, user would like to replace his plan with a replaceable offer \n"
          required: false
          type: string
        - name: relationType
          in: query
          description: "The type of the relation by which the related product offering population requested by the client is retrieved"
          required: false
          type: string
        - name: relationRole
          in: query
          description: |
            The business type definition of the relation by which the related product offering population requested by the client is retrieved
            like &#58;
              - RelatedDevice.
              - Add-On.
              - Accessories
          required: false
          type: string
        - name: relationId
          in: query
          description: "\"The relation where relatedEntityId is the source, and we want to get the related product offerings for. This will be obtained by the user by calling the /productOfferingRelationship endpoint first and selecting which relation to get related offers for. The relatedProductOfferings that will be returned are the targets of this relation.\" \n"
          required: false
          type: string
        - name: relationSecondaryId
          in: query
          description: "When needed by flow will represent additional offer needed as input, user wants to replace a plan (his current plan will be relatedEntityId) which is compatible with his existing 'device' (the secondary input for the replace flow)\nin case of subscription relation will represent the additional subscription offer as input (cart item id, order item id)  \n"
          required: false
          type: string
        - name: relationSecondaryType
          in: query
          description: "When needed by flow will represent the context of the relationSecondaryId, in case a replace for a bundle is needed and a product offer inside the bundle is kept \n•  relationType – populated with “replaceable”\n•  relatedEntityId – populated with current bundle productOfferID\n•  relationSecondaryId – populated with current device offerID\n•  relationSecondaryType – populated with bundle type  \n"
          required: false
          type: string
        - name: productOfferingTypeGroup
          in: query
          description: |
            The (real) type of the product offering, The service searches for any of the product, in the product offer tree which match a specific productOfferingTypeGroup
          required: false
          type: string
        - name: productOfferingGroup
          in: query
          description: |
            The reference to all product offerings in case of dynamic group, return the bundle group population in the case the group holds only policy (dynamic group), known as policyId in BundledProductConfigurationGroup of product configuration.
            supported values are&#58;
              - defined in Catalog - group in BundledGroupProductOffering
          required: false
          type: string
        - name: groupByVariantGroup
          in: query
          description: |
            Indicates whether the search results shall be grouped to their variant groups
          required: false
          type: boolean
          default: false
        - name: offset
          in: query
          description: "Requested index for start of resources to be provided in the response requested by the client \n"
          required: false
          type: integer
        - name: limit
          in: query
          description: |
            Requested number of resources to be provided in the response requested by the client
          required: false
          type: integer
        - name: sort
          in: query
          description: ' The fields by which the response is requested by the client to be sorted. The supported values are: priceRC, priceOC, startDateTime and name'
          required: false
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: minPrice
          in: query
          description: |
            The minimum value used for searching a price
          required: false
          type: number
        - name: maxPrice
          in: query
          description: |
            The maximum value used for searching a price
          required: false
          type: number
        - name: priceType
          in: query
          description: |
            The type of the price, for example, OC or RC. If no value is provided, a configuration value is used. The parameter is relevant for the filtering of minPrice maxPrice
          required: false
          type: string
        - name: recurringChargePeriod
          in: query
          description: |
            The period of the recurring charge, for example, weekly, monthly
          required: false
          type: string
        - name: contextType
          in: query
          description: |
            The type of the context from which the call is performed, for example, ProductOffering (catalog), Cart, Order, Inventory without context means aleways ProductOffering
          required: false
          type: string
          x-example: Cart
        - name: contextMainIdentifier
          in: query
          description: |
            The identifier of the main entity in the context from which the call is performed, for example, cart ID or order ID
          required: false
          type: string
        - name: contextItemIdentifier
          in: query
          description: |
            The ID of the related entity - CartItemId, OrderItemId (ProductId)
          required: false
          type: string
        - name: contextIdentifier
          in: query
          description: |
            The ID of the related entity - product offering ID
          required: false
          type: string
        - name: mask
          in: query
          description: |
            The parameter of the mask query. A mask is a set of flags that impact the service and the returned fields. The supported values
            - *returnStockInformation* - Returns stock information by calling stock management.
            - *returnProductOfferingIds* - return list of product offering id only
          required: false
          type: string
        - name: "productOfferingId"
          in: "query"
          description: "The searchable product offering identifiers, the list of IDs\
            \ is limited to be paginated by client - the URI length is limited to 2048\
            \ characters"
          required: false
          type: "array"
          items:
            type: "string"
            minLength: 1
          collectionFormat: "multi"
        - name: "productOfferingName"
          in: "query"
          description: "The searchable product offering identifiers, the list of Names\
            \ is limited to be paginated by client - the URI length is limited to 2048\
            \ characters"
          required: false
          type: "array"
          items:
            type: "string"
            minLength: 1
          collectionFormat: "multi"
        - name: returnSource
          in: query
          description: |
            Indicates whether the reverse lookup target to source will be performed:
            If set to false (default), target product offering will be returned.
            If set to true, source product offering will be returned.
            Required query params: relatedEntityId, relationType, relationId.
          required: false
          type: boolean
          default: false
        - name: enableAutoComplete
          in: query
          description: |
            "Indicates whether to enable auto completion of the text search"
          required: false
          type: boolean
          default: false
        - name: disableServiceabilityCheck
          in: query
          description: |
            "In case set to true, skip the serviceability check"
          required: false
          type: boolean
          default: false
        - name: checkQualification
          in: query
          description: "Indicates whether to perform qualification check for offer if set to false do not perform the qualification check. If set to true, perform the qualification check (default)"
          required: false
          type: boolean
          default: true
        - name: groupByCategory
          in: query
          description: |
            Indicates whether the product offers are sorted by categories or not
            Note: if set to true, no additional sort can be applied
          required: false
          type: boolean
          default: false
        - name: includeExpiredOffers
          in: query
          description: "Indicates if search should return expired product offers or not."
          required: false
          type: boolean
          default: false
      responses:
        200:
          description: |
            *OK* - The searchProductOfferRelatedCharacteristics information was retrieved successfully.
          headers:
            X-Total-Count:
              type: integer
              format: int64
              description: |
                The total number of matching resources
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductOfferingCharacteristic'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        412:
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-Microservice: pod-search-ms
      x-amdocs:
        route-service: pod-search-service
        public-roles:
          - D1_ProductOfferingDiscovery_retrieve
        private-roles:
          - D1P_ProductOfferingDiscovery_read
          - FndP_APIGateway_gw
  /searchProductOffering/requestFullDistribution:
    post:
      tags:
        - searchProductOffering
      summary: Request to reload all data from CatalogOne and re-index
      description: |
        A request to initiate a full distribution process for pod search MS.
        If another request is in process, will return an Exception.
      operationId: requestFullDistribution
      consumes:
        - application/json;charset
      produces:
        - application/json;charset
      parameters: []
      responses:
        201:
          description: '*OK* - Full distribution started'
          schema:
            $ref: '#/definitions/FullDistributionRequest'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        412:
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-Microservice: pod-search-ms
      x-amdocs:
        route-service: pod-search-service
        public-roles:
          - D1_ProductDiscoveryFullDistribution_create
        private-roles:
          - D1P_ProductOfferingDiscovery_write
          - FndP_APIGateway_gw
      x-dox-Since: v10.3
  /searchProductOffering/cancelFullDistribution:
    post:
      tags:
        - searchProductOffering
      summary: Request to cancel reload all data from CatalogOne
      description: |
        A request to cancel a full distribution process for pod search MS
      operationId: cancelFullDistribution
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: FullDistributionRequest
          description: |
            The full distribution token receievd from Catalog
          required: true
          schema:
            $ref: '#/definitions/FullDistributionRequest'
      responses:
        200:
          description: '*OK* - Full distribution canceled'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        409:
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        412:
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        500:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        502:
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-Microservice: pod-search-ms
      x-amdocs:
        route-service: pod-search-service
        public-roles:
          - D1_ProductDiscoveryFullDistribution_cancel
        private-roles:
          - D1P_ProductOfferingDiscovery_write
          - FndP_APIGateway_gw
      x-dox-Since: v10.3
  /productOffering/{productOfferingId}:
    get:
      tags:
        - productOffering
      summary: This service retrieves detailed information of a specific product offering
      description: |
        This service retrieves discovery product offering details according  to provided ID**Mandatory&#58;**
        - Request Context
      operationId: getProductOfferingsDetails
      schemes:
        - https
      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: productOfferingId
          in: path
          description: |
            The ID of the product offer
          required: true
          type: string
        - name: relatedPartySegment
          in: query
          description: "The relatedPartySegment in context, relevant only to CSR \"on-behalf\" context flow with customer role.\nUsed for qualification, eligibility , price. \nCan hold any segment as defined in customer accessor.\n"
          required: false
          type: string
        - name: salesChannel
          in: query
          description: The Sales Channel that the product offering is associated with
          required: false
          default: ALL
          type: string
        - name: Accept-Language
          in: header
          description: |
            Locale of the client
          required: false
          type: string
        - name: groupByVariantGroup
          in: query
          description: |
            Indicates whether the search results shall be grouped to their variant groups
          required: false
          type: boolean
          default: false
        - name: mask
          in: query
          description: |
            The parameter of the mask query. A mask is a set of flags that impact the service and the returned fields. The supported values
            - *returnStockInformation* - Returns stock information by calling stock management. When no mask is supplied, the information about the ‘stock’ will not be returned.
            -*onlyIds* - Returnes only the ids of the search response offers (send the response as it arrives from the search MS)
          required: false
          type: string
        - name: includeAllNodes
          in: query
          description: |
            Indicates whether the full node tree is returned or only the top two levels.
            If set to false (default), only the top two levels are returned.
            If set to true, the full node tree is returned.
          required: false
          type: boolean
          default: false
        - name: checkQualification
          in: query
          description: |
            Indicates whether to perform qualification check for offer details  if set to false, do not perform the qualification check. If set to true, perform the qualification check (default).
          required: false
          type: boolean
          default: true
      responses:
        200:
          description: |
            *OK* - The product offering information was retrieved successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductOffering'
        400:
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: "*Not Found* - The server did not find anything matching the\
            \ request URI. The response can be caused by missing path parameters,\
            \ invalid web resource, and so on.\n"
          schema:
            $ref: "#/definitions/Error"
        409:
          description: "*Conflict* - The server cannot complete the request due to\
            \ a conflict with the current state of the resource.\n"
          schema:
            $ref: "#/definitions/Error"
        412:
          description: "*Unprocessable Entity* - The server understands the content\
            \ type of the request entity, and the syntax of the request entity is\
            \ correct, but was unable to process the contained instructions.\n"
          schema:
            $ref: "#/definitions/ValidationError"
        500:
          description: "*Internal Server Error* - The server encountered an unexpected\
            \ condition that prevented it from fulfilling the request.\n"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "*Bad Gateway* - The server encountered an unexpected condition\
            \ when calling another service.\n"
          schema:
            $ref: "#/definitions/Error"
        default:
          description: "*Internal Server Error* - The server encountered an unexpected\
            \ condition that prevented it from fulfilling the request.\n"
          schema:
            $ref: "#/definitions/Error"
      x-dox-Microservice: "pod-productoffering-ms"
      x-amdocs:
        route-service: "pod-productoffering-service"
        public-roles:
          - "D1_ProductOfferingDiscovery_retrieve"
        private-roles:
          - "D1P_ProductOfferingDiscovery_read"
          - "FndP_APIGateway_gw"
  /productOffering/name/{productOfferingName}:
    get:
      tags:
        - "productOffering"
      summary: "This service retrieves detailed information of a specific product\
        \ offering"
      description: "This service retrieves discovery product offering details according\
        \  to provided Name**Mandatory&#58;**\n- Request Context\n"
      operationId: "getProductOfferingsDetailsByName"
      schemes:
        - "https"
      consumes:
        - "application/json;charset=utf-8"
      produces:
        - "application/json;charset=utf-8"
      parameters:
        - name: "productOfferingName"
          in: "path"
          description: "The unique name of the product offer\n"
          required: true
          type: "string"
        - name: "relatedPartyId"
          in: "query"
          description: "The relatedPartyId in context, relevant only to CSR \"on-behalf\"\
          \ context flow, used for qualification eligibility \n"
          required: false
          type: "string"
        - name: "relatedPartyRole"
          in: "query"
          description: "The relatedPartyRole in context (such as customer, user), relevant\
          \ only to CSR \"on-behalf\" context flow, used for qualification eligibility\
          \ \n"
          required: false
          type: "string"
        - name: "relatedPartySegment"
          in: "query"
          description: "The relatedPartySegment in context, relevant only to CSR \"\
          on-behalf\" context flow with customer role.\nUsed for qualification, eligibility\
          \ , price. \nCan hold any segment as defined in customer accessor.\n"
          required: false
          type: "string"
        - name: "salesChannel"
          in: "query"
          description: "The Sales Channel that the product offering is associated with\n"
          required: false
          type: "string"
          default: "ALL"
        - name: "Accept-Language"
          in: "header"
          description: "Locale of the client\n"
          required: false
          type: "string"
        - name: "groupByVariantGroup"
          in: "query"
          description: "Indicates whether the search results shall be grouped to their\
          \ variant groups\n"
          required: false
          type: "boolean"
          default: false
        - name: "checkQualification"
          in: "query"
          description: "Indicates whether to perform qualification check for offer details\
          \  if set to false, do not perform the qualification check. If set to true,\
          \ perform the qualification check (default).\n"
          required: false
          type: "boolean"
          default: true
        - name: "mask"
          in: "query"
          description: "The parameter of the mask query. A mask is a set of flags that\
          \ impact the service and the returned fields. The supported values\n- *returnStockInformation*\
          \ - Returns stock information by calling stock management. When no mask\
          \ is supplied, the information about the ‘stock’ will not be returned.\n\
          -*onlyIds* - Returnes only the ids of the search response offers (send the\
          \ response as it arrives from the search MS)\n"
          required: false
          type: "string"
        - name: "includeAllNodes"
          in: "query"
          description: "Indicates whether the full node tree is returned or only the\
          \ top two levels.\nIf set to false (default), only the top two levels are\
          \ returned.\nIf set to true, the full node tree is returned.\n"
          required: false
          type: "boolean"
          default: false
      responses:
        "200":
          description: "*OK* - The product offering information was retrieved successfully.\n"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ProductOffering"
        "400":
          description: "*Bad Request* - The server cannot process the request due\
            \ to a malformed syntax. The response can be caused by missing mandatory\
            \ query parameters, invalid value in the query parameters, validation\
            \ exceptions, and so on.\n"
          schema:
            $ref: "#/definitions/Error"
        "404":
          description: "*Not Found* - The server did not find anything matching the\
            \ request URI. The response can be caused by missing path parameters,\
            \ invalid web resource, and so on.\n"
          schema:
            $ref: "#/definitions/Error"
        "409":
          description: "*Conflict* - The server cannot complete the request due to\
            \ a conflict with the current state of the resource.\n"
          schema:
            $ref: "#/definitions/Error"
        "412":
          description: "*Unprocessable Entity* - The server understands the content\
            \ type of the request entity, and the syntax of the request entity is\
            \ correct, but was unable to process the contained instructions.\n"
          schema:
            $ref: "#/definitions/ValidationError"
        "500":
          description: "*Internal Server Error* - The server encountered an unexpected\
            \ condition that prevented it from fulfilling the request.\n"
          schema:
            $ref: "#/definitions/Error"
        "502":
          description: "*Bad Gateway* - The server encountered an unexpected condition\
            \ when calling another service.\n"
          schema:
            $ref: "#/definitions/Error"
        default:
          description: "*Internal Server Error* - The server encountered an unexpected\
            \ condition that prevented it from fulfilling the request.\n"
          schema:
            $ref: "#/definitions/Error"
      x-dox-Microservice: "pod-productoffering-ms"
      x-amdocs:
        route-service: "pod-productoffering-service"
        public-roles:
          - "D1_ProductOfferingDiscovery_retrieve"
        private-roles:
          - "D1P_ProductOfferingDiscovery_read"
          - "FndP_APIGateway_gw"
  /compareProductOffering:
    post:
      tags:
        - compareProductOffering
      summary: This service compares serveral product offerings, based on the product offering IDs
      description: "This service compares product offerings, based on the product offering IDs.\n**Mandatory&#58;**\n- productOffering.id (list of ids (at least two) of the product offers to compare)\n- salesChannel (the sales channel to compare for) \n- Accept-Language (language indicaiton in the request header)\n\n\n**Business rules&#58;**\n- includeAllNodes (indicate how many levels in product offer tree should be compared - default will bring only the top two levels)\nThe compare doesn't force two identical product offering types, it shall compare characteristics for any product offer"
      operationId: compareProductOfferings
      schemes:
        - https
      consumes:
        - application/json;charset=utf-8
      produces:
        - application/json;charset=utf-8
      parameters:
        - name: productOfferingId
          in: query
          description: |
            The details of the product offerings, based on the provided list of ID(s)
          required: true
          type: array
          items:
            type: string
            minLength: 1
          collectionFormat: multi
        - name: Accept-Language
          in: header
          description: |
            Locale of the client
          required: false
          type: string
        - name: salesChannel
          in: query
          description: |
            The Sales Channel that the product offering is associated with
          required: false
          type: string
          default: ALL
        - name: includeAllNodes
          in: query
          description: |
            Indicates whether the full node tree is returned or only the top two levels.
            If set to false (default), only the top two levels are returned.
            If set to true, the full node tree is returned.
          required: false
          type: boolean
          default: false
        - name: contextType
          in: query
          description: |
            The type of the context from which the call is performed, for example, Discovery, Cart, Order, Inventory
          required: false
          type: string
          x-example: Cart
        - name: contextMainIdentifier
          in: query
          description: |
            The identifier of the main entity in the context from which the call is performed, for example, cart ID or order ID
          required: false
          type: string
        - name: contextIdentifier
          in: query
          description: |
            The ID of the related entity - product offering ID, product ID, cart item ID, or order item ID
          required: false
          type: string
        - name: checkQualification
          in: query
          description: |
[...]
