---
swagger: "2.0"
info:
  description: |
    This API manages shopping cart resources, enabling the retrieval of shopping carts with their items, prices, total price, related party, notes, channel, and configuration of those items. It also enables adding, deleting, and modifying items in the cart and deleting the shopping cart.
     ###### TMF663_Shopping_Cart_API_REST_Specification_R18.0.2
  version: "2.0"
  title: Shopping Cart Management
  contact:
    name: Amdocs Inc.
    url: http://www.amdocs.com
    email: support@amdocs.com
  license:
    name: Amdocs Inc.
    url: http://
  x-amdocs:
    exposed: public
    service-principals:
    - shoppingcart-shoppingcart-app-id
    - shoppingcart-modify-app-id
    - shoppingcart-checkout-app-id
    - shoppingcart-price-app-id
    - shoppingcart-validate-app-id
host: amdocs.com
basePath: /shoppingCart/v2.0
tags:
- name: shoppingCart
- name: shoppingCartValidate
- name: shoppingCartPrice
- name: cartItem
- name: checkout
- name: productModification
schemes:
- https
paths:
  /shoppingCart:
    get:
      tags:
      - shoppingCart
      summary: List shopping carts
      description: "This operation lists the shopping cart entities. \nThe list can be filtered by the *filter* parameter. This operation enables retrieving expired/non-expired carts. \n\n###### TMF Open API complaint\n\n**Business rules&#58;**\n  Returns all shopping carts if includeExpiredShoppingCart set to true, if this parameter is set to false, return only non expired shopping carts.\n\n**Reference value&#58;**\n  - validFor (shopping cart that for retrieval date is in the date range of validFor)\n  - noteType (Configuration.note.cartItem.validNoteTypes)\n"
      operationId: getShoppingCarts
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: filters
        in: query
        description: "Limit the returned entities only to those that match the specified values.\nThe supported values are:\n - *relatedParty.id* &  *relatedParty.role*\n - *contactMedium.characteristic.emailAddress*\n - *contactMedium.characteristic.phoneNumber* \n<i>Example&#58; filters=relatedParty.id==200&relatedParty.role==Customer</i>\n  \n  **Reference value&#58;**\n  - relatedParty.role = Customer (Configuration.relatedPartyCustomerRole)\n"
        required: false
        type: string
      - name: limit
        in: query
        description: |
          Requested number of resources to be provided in the response requested by the client
        required: false
        type: integer
      - name: offset
        in: query
        description: "Requested index for start of page to be provided in the response requested by the client \n"
        required: false
        type: integer
      - name: mask
        in: query
        description: "A mask is a set of flags that impact the returned fields.\nThe supported values are&#58;\n  - returnAttachments - Once set, the API returns additional attachment information for the product offering and product offering terms.\n  - returnStockInformation - Once set, the stock availability information is retrieved from the stock management system.\n  - *returnCatalogMetadata* - Once set, the metadata is retrieved from the product catalog system (limited by configurable metadata type).If specific type is required, this type will be specified in the mask. \n  - *returnNote* - Once set, notes associated with CartItem are returned. If specific noteType is required, this type should be specified in the mask. \n\n<i>Example&#58; mask=returnAttachments,returnStockInformation,returnCatalogMetadata.ResourceManagement,returnNote</i>\n"
        required: false
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
      - name: sort
        in: query
        description: |
          The list of fields by which the response is sorted. The supported values are &#58; <ul><li>cartDate</ul>
          Note &#58;The list of resource attributes must be comma-separated. The items are sorted according to the order of the fields listed in this parameter, from left to right. The default sorting order is ascending. To change the order to descending, the field must be specified with the minus (-) prefix. Nested resources attributes can be specified using the dot notation.
        required: false
        type: array
        items:
          type: string
          minLength: 1
        collectionFormat: multi
      - name: includeExpiredShoppingCart
        in: query
        description: "Indicates if the response should include expired shopping cart.When this idication set to true, return all shipping carts.If this indication set to false return only shopping carts that are still valid, define by configuration \n"
        required: false
        type: boolean
      responses:
        "200":
          description: |
            *OK* - The shopping carts were retrieved successfully.
          headers:
            X-Total-Count:
              type: integer
              description: |
                Total number of items matching the criteria.
          schema:
            type: array
            items:
              $ref: '#/definitions/ShoppingCart'
        "206":
          description: |
            "*Partial Content* - Partially updated shopping cart."
          schema:
            type: array
            items:
              $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_retrieve
        private-roles:
        - D1P_ShoppingCart_read
        - FndP_APIGateway_gw
    post:
      tags:
      - shoppingCart
      summary: Create shopping cart
      description: "This service creates a shopping cart with one or more items.\n  ##### TMF Open API compliant\n  **Mandatory&#58;**\n  - *productOffering* (*for add action*)\n  - *cartItem.action* \n  \n  **Readonly&#58;**\n  - *cartItem.characteristicMetadata*\n  \n  **Business rules&#58;**\n  - *modifyReason* (action must match *cartItem.action*)\n  - *relatedParty* (if exist than only 1 *relatedRarty* with role = Customer, and Customer status is Active)\n  - *cartItem* (if *cartItem* populated id and action should be populated if this != add action)\n\n  **Reference value&#58;**\n  -  *action* (*ProductOfferingConfiguration&#58; actionsPerCalculatedKeyTable.actionsPerCalculatedKeyMap*)\n  - *modifyReason.name* (*ProductOfferingConfiguration&#58; modifyReasonsTable.modifyReasonsPerAction*)\n  - *channel* (*ApplicationContext*)\n  -  *relatedParty.role* = Customer (*Configuration&#58; relatedPartyCustomerRole*)\n  - *relatedParty.status* = Active (*Configuration&#58; customerValidatorValidStatusValues*)\n  - *noteType* (*Configuration.note.cartItem.validNoteTypes*)\n"
      operationId: createShoppingCart
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: mask
        in: query
        description: "A mask is a set of flags that impact the returned fields.\nThe supported values are&#58;\n  - returnAttachments - Once set, the API returns additional attachment information for the product offering and product offering terms.\n  - returnStockInformation - Once set, the stock availability information is retrieved from the stock management system.\n  - *returnCatalogMetadata* - Once set, the metadata is retrieved from the product catalog system (limited by configurable metadata type).If specific type is required, this type will be specified in the mask. \n  - *returnNote* - Once set, notes associated with CartItem are returned. If specific noteType is required, this type should be specified in the mask. \n\n<i>Example&#58; mask=returnAttachments,returnStockInformation,returnCatalogMetadata.ResourceManagement,returnNote</i>\n"
        required: false
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
        default: true
      - in: body
        name: ShoppingCart
        description: |
          This operation creates a shopping cart with one or more shopping cart items.
        required: true
        schema:
          $ref: '#/definitions/ShoppingCart'
      responses:
        "201":
          description: |
            *Created* - The shopping cart was created successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "403":
          description: |
            *Forbidden* - The server refuses to apply the request because the client does not have access rights to the content.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_create
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}:
    get:
      tags:
      - shoppingCart
      summary: Retrieve a shopping cart
      description: |
        This service retrieves a shopping cart according to its ID.
        ###### TMF Open API complaint

        **Reference value&#58;**
          - noteType (Configuration.note.cartItem.validNoteTypes)
      operationId: getShoppingCart
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          This is the ID of the shopping cart.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: mask
        in: query
        description: "A mask is a set of flags that impact the returned fields.\nThe supported values are&#58;\n  - returnAttachments - Once set, the API returns additional attachment information for the product offering and product offering terms.\n  - returnStockInformation - Once set, the stock availability information is retrieved from the stock management system.\n  - *returnCatalogMetadata* - Once set, the metadata is retrieved from the product catalog system (limited by configurable metadata type).If specific type is required, this type will be specified in the mask. \n  - *returnNote* - Once set, notes associated with CartItem are returned. If specific noteType is required, this type should be specified in the mask. \n\n<i>Example&#58; mask=returnAttachments,returnStockInformation,returnCatalogMetadata.ResourceManagement,returnNote</i>\n"
        required: false
        type: string
      - name: includeExpiredShoppingCart
        in: query
        description: "Indicates if the response should include expired shopping cart.When this idication set to true, return all shipping carts.If this indication set to false return only shopping carts that are still valid, define by configuration \n"
        required: false
        type: boolean
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
      responses:
        "200":
          description: |
            *OK* - The shopping cart was retrieved successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "206":
          description: '*Partial Content* - Partially updated shopping cart.'
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_retrieve
        private-roles:
        - D1P_ShoppingCart_read
        - FndP_APIGateway_gw
    delete:
      tags:
      - shoppingCart
      summary: Delete a shopping cart
      description: |
        This operation deletes a shopping cart entity.
      operationId: deleteShoppingCart
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          This is the ID of the shopping cart.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      responses:
        "204":
          description: |
            *No Content* - The server successfully processed the request and is not returning any content.
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_delete
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
    patch:
      tags:
      - shoppingCart
      summary: (Internal) Patch a shopping cart
      description: |
        This operation allows partial updates of a shopping cart entity, including fields only at the shopping-cart level.

        ###### TMF Open API compliant

        **Patchable elements&#58;**
        - cartItem without prices
        - cartItem.quantity
        - cartItem.action
        - cartItem.status
        - cartItem.itemTerm
        - cartItem.modifyReason
        - cartItem.modifyReson.text
        - cartItem.product.characteristic
        - cartItem.product

        any action of update the ids is not allowed in the patch

        **Reference value&#58;**
          - noteType (Configuration.note.cartItem.validNoteTypes)
      operationId: patchShoppingCart
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          This is the ID of the shopping cart.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: mask
        in: query
        description: "A mask is a set of flags that impact the returned fields.\nThe supported values are&#58;\n  - returnAttachments - Once set, the API returns additional attachment information for the product offering and product offering terms.\n  - returnStockInformation - Once set, the stock availability information is retrieved from the stock management system.\n  - *returnCatalogMetadata* - Once set, the metadata is retrieved from the product catalog system (limited by configurable metadata type).If specific type is required, this type will be specified in the mask. \n  - *returnNote* - Once set, notes associated with CartItem are returned. If specific noteType is required, this type should be specified in the mask. \n\n<i>Example&#58; mask=returnAttachments,returnStockInformation,returnCatalogMetadata.ResourceManagement,returnNote</i>\n"
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      - name: nonPersistentOperation
        in: header
        description: |
          Indicates whether an operation is non-persistent.
          The supported values are *true* and *false*.
        required: false
        type: string
      - name: nonPersistentIdentifier
        in: header
        description: |
          Unique identifier of the non-persistent change in the cache
        required: false
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
      - in: body
        name: ShoppingCartPatch
        description: |
          The patch that is requesting to update the shopping cart resource.
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/PatchElement'
      responses:
        "200":
          description: |
            *OK* - The shopping cart was updated successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-InternalAPI: true
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/empty:
    post:
      tags:
      - shoppingCart
      summary: Empty shopping cart
      description: |
        This service removes all cart items from the shopping cart.
      operationId: emptyShoppingCart
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      responses:
        "200":
          description: |
            *OK* - The shopping cart was emptied successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "304":
          description: |
            *NotModified* - The shopping cart is already empty.
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_empty
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/cartItem:
    post:
      tags:
      - cartItem
      summary: Add a cart item
      description: "This operation adds (top-most) cart items to the shopping cart entity. In case a cart item is set only with the *productOffering.id*, the created cart item will represent the default configuration for that product offering. Otherwise, the cart item will be created as-is.<p>\n**Mandatory&#58;**\n- cartItem.productOffering\n- product.id (unless cartItem represents a provide action)\n- cartItem.action\n\n\n**Readonly&#58;**\n- *cartItem.characteristicMetadata*\n  \n**Business rules&#58;**\n- *modifyReason* (action must match *cartItem.action*)\n\n\n**Reference value&#58;**\n- *action* (*ProductOfferingConfiguration&#58; actionsPerCalculatedKeyTable.actionsPerCalculatedKeyMap*)\n- *modifyReason.name *(*ProductOfferingConfiguration&#58; modifyReasonsTable.modifyReasonsPerAction*)\n- *noteType* (*Configuration.note.cartItem.validNoteTypes*)\n"
      operationId: addCartItem
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
        default: true
      - in: body
        name: cartItem
        description: |
          This is used to add a shopping cart item sub resource.
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/CartItem'
      responses:
        "200":
          description: |
            *OK* - The cart item was added successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_update
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/cartItem/{cartItemId}:
    get:
      tags:
      - cartItem
      summary: Retrieve a shopping cart item
      description: |
        This service retrieves the shopping cart, with the response limited to a cart item (and its associated hierarchy), by the ID of the cart item.

        **Reference value&#58;**
          - noteType (Configuration.note.cartItem.validNoteTypes)
      operationId: retrieveCartItem
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: cartItemId
        in: path
        description: |
          The ID of the cart item.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: mask
        in: query
        description: "A mask is a set of flags that impact the returned fields.\nThe supported values are&#58;\n  - returnAttachments - Once set, the API returns additional attachment information for the product offering and product offering terms.\n  - returnStockInformation - Once set, the stock availability information is retrieved from the stock management system.\n  - *returnCatalogMetadata* - Once set, the metadata is retrieved from the product catalog system (limited by configurable metadata type).If specific type is required, this type will be specified in the mask. \n  - *returnNote* - Once set, notes associated with CartItem are returned. If specific noteType is required, this type should be specified in the mask. \n\n<i>Example&#58; mask=returnAttachments,returnStockInformation,returnCatalogMetadata.ResourceManagement,returnNote</i>\n"
        required: false
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
      responses:
        "200":
          description: |
            *OK* - The shopping cart, filtered by cart item, was retrieved successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        "503":
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_retrieve
        private-roles:
        - D1P_ShoppingCart_read
        - FndP_APIGateway_gw
    delete:
      tags:
      - cartItem
      summary: Delete a cart Item
      description: |
        This operation deletes an cart item from a shopping cart entity.<p>
        **Business rules&#58;**
        - cartItemId (unique identifier of a top-most cart item)
      operationId: removeCartItem
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: cartItemId
        in: path
        description: |
          The ID of the cart item.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
        default: true
      responses:
        "200":
          description: |
            *OK* - The cart item was removed successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "204":
          description: |
            *No Content* - The server successfully processed the request and is not returning any content.
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        "503":
          description: |
            *Internal Server Error* - The server cannot fulfill the request due to a temporary overloading or maintenance of the server. Retry later.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_update
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/manageRelatedParty:
    post:
      tags:
      - shoppingCart
      summary: Manage the related party association
      description: |
        This operation manages the association of the shopping cart entity to a related party.<p>
        **Mandatory&#58;**
        - relatedPartyId (when action = replace | remove)
        - role (when action = replace | remove)
        - RelatedPartyRef (when action = add | replace)
        - RelatedPartyRef.role (when action = add | replace)

        **Business rules&#58;**
        - relatedParty (only 1 relatedRarty per role)

        **Reference value&#58;**
        - role (Configuration.configuration.relatedParty.addRelatedPartyAllowedRoles | replaceRelatedPartyAllowedRoles | removeRelatedPartyAllowedRoles)
        - action (Configuration.configuration.relatedParty.validManageRelatedPartyActions)
      operationId: manageShoppingCartRelatedParty
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      - name: Amdocs-Client-Id
        in: header
        description: |
          .
        required: false
        type: string
      - name: relatedPartyId
        in: query
        description: |
          The ID of the related party.
        required: false
        type: string
      - name: role
        in: query
        description: |
          The role of the related party.
        required: false
        type: string
      - name: action
        in: query
        description: |
          The action to be performed: add, replace, or remove
        required: true
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
        default: true
      - in: body
        name: RelatedPartyRef
        description: |
          The related party associated to the shopping cart. This parameter is required when the query action is "add" or "replace".
        required: false
        schema:
          $ref: '#/definitions/RelatedPartyRef'
      responses:
        "200":
          description: |
            *OK* - The related party was updated successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_manageRelatedParty
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/cartItem/{cartItemId}/updateQuantity:
    post:
      tags:
      - cartItem
      summary: Set quantity
      description: |
        This operation sets the *quantity* attribute of an cart item.<p>
        **Business rules&#58;**
        - cartItemId (unique identifier of a top-most cart item)
      operationId: updateCartItemQuantity
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: cartItemId
        in: path
        description: |
          The ID of the cart item.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
        default: true
      - in: body
        name: UpdateCartItemQuantity
        description: |
          The patch element for updating the quantity of the cart item.
        required: true
        schema:
          $ref: '#/definitions/PatchElement'
      responses:
        "200":
          description: |
            *OK* - The shopping cart item quantity was updated successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_update
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/cartItem/{cartItemId}/manageRelatedParty:
    post:
      tags:
      - cartItem
      summary: Manage the related party association
      description: |
        This operation manages the association of the cart item entity to a related party.<p>
        **Mandatory&#58;**
        - nestedCartItemID (when the associated cart item/s is/are not top-most)
        - relatedPartyId (when action = replace | remove)
        - role (when action = replace | remove)
        - RelatedPartyRef (when action = add | replace)
        - RelatedPartyRef.role (when action = add | replace)

        **Business rules&#58;**
        - relatedParty (only 1 relatedRarty per role)

        **Reference value&#58;**
        - role (Configuration.configuration.relatedParty.addManageCartItemRelatedPartyAllowedRoles | replaceManageCartItemRelatedPartyAllowedRoles | removeManageCartItemRelatedPartyAllowedRoles)
        - action (Configuration.configuration.relatedParty.validManageRelatedPartyActions)
      operationId: manageCartItemRelatedParty
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: cartItemId
        in: path
        description: |
          The ID of the cart item.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      - name: nestedCartItemId
        in: query
        description: |
          The ID of the nested cart item
        required: false
        type: array
        items:
          type: string
          minLength: 1
        collectionFormat: multi
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
        default: true
      - name: relatedPartyId
        in: query
        description: |
          The ID of the related party.
        required: false
        type: string
      - name: role
        in: query
        description: |
          The role of the related party.
        required: false
        type: string
      - name: action
        in: query
        description: |
          The action to be performed: add, replace, or remove
        required: true
        type: string
      - in: body
        name: RelatedPartyRef
        description: |
          The associated related party to the cart item. This parameter is required when the query action is "add" or "replace".
        required: false
        schema:
          $ref: '#/definitions/RelatedPartyRef'
      responses:
        "200":
          description: |
            *OK* - The related party was updated successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_manageRelatedParty
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/cartItem/{cartItemId}/managePlace:
    post:
      tags:
      - cartItem
      summary: Manage the place association with cart items
      description: |
        This operation manages the association of product(s) (related to the cart item entity) with a place.<p>
        **Mandatory&#58;**
        - nestedCartItemId (when the associated cart item/s is/are not top-most)
        - placeId (when action = replace | remove)
        - role (when action = replace | remove)
        - PlaceRef.id (when action = add | replace)
        - PlaceRef.role (when action = add | replace)

        **Business rules&#58;**
        - Shopping cart state is Draft
        - Product represents a newly provided product (not an owned product) when role=installation
        - place (only 1 place per role)
        - role = installation
        - The metadata of the product.productSpecification defines an installation address as Required
          (metadata.metadataType = 'Location and Serviceability' | metadata.name = 'installationAddressRequired' | metadata.value = true)
          - for role = installation

        **Reference values&#58;**
        - role (Configuration&#58; configuration.place.addManageCartItemPlaceAllowedRoles | replaceManageCartItemPlaceAllowedRoles | removeManageCartItemPlaceAllowedRoles)
        - action (Configuration&#58; configuration.place.validManagePlaceActions)
      operationId: manageCartItemPlace
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: cartItemId
        in: path
        description: |
          The ID of the cart item.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      - name: nestedCartItemId
        in: query
        description: |
          The ID of the nested cart item
        required: false
        type: array
        items:
          type: string
          minLength: 1
        collectionFormat: multi
      - name: action
        in: query
        description: |
          The action to be performed: add, replace, or remove
        required: true
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
        default: true
      - name: propagate
        in: query
        description: "Indicates if to propagate the place management to other cart item entities \n"
        required: false
        type: boolean
        default: false
      - name: override
        in: query
        description: "Indicates if to override (already associated place) while propagate the place management to other cart item entities \n"
        required: false
        type: boolean
        default: false
      - name: placeId
        in: query
        description: |
          The ID of the place.
        required: false
        type: string
      - name: role
        in: query
        description: |
          The role of the place.
        required: false
        type: string
      - in: body
        name: PlaceRef
        description: |
          The place associated with the cart item.
        required: false
        schema:
          $ref: '#/definitions/PlaceRef'
      responses:
        "200":
          description: |
            *OK* - The association of the place with the product cart item was updated successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_manageCartItemPlace
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/manageCartItemRelationship:
    post:
      tags:
      - cartItem
      summary: Manage the cart item relationship association
      description: |
        This operation manages the bi-directional association of two cart item entities by updating the cart item relationship entity.<p>
        **Mandatory&#58;**
        - replacedCartItemRelationship (when action = replace)

        **Business rules&#58;**
        - type (the Bidirectional type value is taken from configuration)
        - action (valid values per type are predefined in configuration)

        **Reference value&#58;**
        - type (Configuration&#58; configuration.cartItemRelationship.types.*)
        - action (add | replace | remove)
      operationId: manageCartItemRelationship
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          This is the shopping cart id.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      - in: body
        name: ManageCartItemRelationship
        description: |
          The relationship associated to the cart item. This parameter is required when the query action is "add" or "replace".
        required: false
        schema:
          type: array
          items:
            $ref: '#/definitions/ManageCartItemRelationship'
      responses:
        "200":
          description: |
            *OK* - The related cart item relationship was updated successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_manageCartItemRelationship
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/cartItem/{cartItemId}/manageCartPriceInstallmentOption:
    post:
      tags:
      - cartItem
      summary: Manage installment option
      description: "This operation manages the installment option associated with the cart item. The cart price represents a one-time change of the cart item. In case the action is *remove* and the installment option (for the cart price) \nis defined as *mandatory* - the installment option will be restored to the default.<p>\n**Mandatory&#58;**\n- nestedCartItemId (when managing nested cart item/s)\n- cartPriceInstallmentOption.installmentOption (when action = add | replace)\n\n**Reference value&#58;**\n- cartPriceInstallmentOption.action (add | replace | remove)\n"
      operationId: manageCartItemInstallmentOption
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: cartItemId
        in: path
        description: |
          The ID of the cart item.
        required: true
        type: string
      - name: nestedCartItemId
        in: query
        description: |
          The ID of the nested cart item.
        required: false
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - in: body
        name: cartPriceInstallmentOption
        description: |
          The managed installment option.
        required: true
        schema:
          $ref: '#/definitions/ManageCartPriceInstallmentOption'
      responses:
        "200":
          description: |
            *OK* - The Installment Option was managed successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_update
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/cartItem/{cartItemId}/manageProductRelationship:
    post:
      tags:
      - cartItem
      summary: Manage the related product relationship
      description: |
        This operation manages one direct relation from the dependent product to independent.<p>
        **Mandatory&#58;**
        - nestedCartItemID (when the associated cart item/s is/are not top-most)
        - type (when action = replace | remove)
        - subtype (when action = replace | remove)
        - conext (when action = replace | remove)
        - productRelationship (when action = add | replace)
        - $ref: 'https://api.swaggerhub.com/domains/amdocs-development/CommerceCommonDefinitions/1.1#/parameters/query-excludePrices-default-true''

        **Business rules&#58;**


        **Reference value&#58;**
        - type (Configuration.configuration.reproductRelationship.type)
        - action (Configuration.configuration.relatedParty.validManageProductRelationshipActions)
      operationId: manageProductRelationship
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: cartItemId
        in: path
        description: |
          The ID of the cart item.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: If-Match
        in: header
        description: "*If-Match* HTTP request header makes the request conditional. \n- For GET and HEAD methods, the server will send back the requested resource only if it matches one of the listed ETags. \n- For PUT and other non-safe methods, the server will only upload the resource.\n"
        required: true
        type: string
      - name: nestedCartItemId
        in: query
        description: |
          The ID of the nested cart item
        required: false
        type: array
        items:
          type: string
          minLength: 1
        collectionFormat: multi
      - name: action
        in: query
        description: |
          The action to be performed: add, replace, or remove
        required: true
        type: string
      - name: type
        in: query
        description: |
          Product relation type
        required: false
        type: string
      - name: subtype
        in: query
        description: "Subtype of the relation. \n"
        required: false
        type: string
      - name: context
        in: query
        description: |
          The context with which the commecrial relation  is associated.
          The supported mutually exclusive context values are
          - cartItem.id
          - product.id
          Usage example 'context=(cartItem\.id==\w+ | product==\w+)'
        required: false
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
        default: true
      - in: body
        name: productRelationship
        description: |
          The associated related party to the cart item. This parameter is required when the query action is "add" or "replace".
        required: false
        schema:
          $ref: '#/definitions/ProductRelationship'
      responses:
        "200":
          description: |
            *OK* - The product relationship was updated successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_manageProductRealtionship
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /cartItem/draft:
    post:
      tags:
      - cartItem
      summary: (Internal) Draft an cart item
      description: |
        This service drafts a cart item that represents either modifications to a customer-owned, product or a product offering to be provided.
         <p>In case of modification is on a customer-owned product:
         <ul>
          <li>The <i>rootProductId</i> parameter is <b>mandatory</b>.</li>
          <li>The <i>product.id</i> represents the customer-owned product identifier.</li>
          <li>The supported actions are &#58; add/remove promotions, change.</li>
          <li>The change might involve the add/update/remove characteristics.
            A removed characteristic does not have its value provided.</li>
         </ul>
         <p>In case of a product offering to be provided:
         <ul>
          <li>The <i>productOffering.id</i> represents the product offering to be provided.</li>
          <li>The supported action is &#58; add.</li>
          <li>The default configuration of the product offering is used.</li>
         </ul>
      operationId: draftCartItem
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: rootProductId
        in: query
        description: |
          The root ID of the customer-owned product.
        required: false
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - in: body
        name: cartItem
        description: |
          This represents the modifications to the customer-owned product or the product offering to be provided.
        required: true
        schema:
          minLength: 1
          type: array
          items:
            $ref: '#/definitions/CartItem'
      responses:
        "200":
          description: |
            *succeeded* - The cart item was drafted successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/CartItem'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-InternalAPI: true
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/applyAutoCorrection:
    post:
      tags:
      - shoppingCart
      summary: Auto correct a shopping cart
      description: |
        This operation auto corrects the shopping cart entity as a result of promotion updates (new | updated | expired).<p>The supported corrections are&#58;<li Additional cart item representing a promotion update on an owned product.
      operationId: shoppingCartAutoCorrection
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      responses:
        "200":
          description: |
            *OK* - The shopping cart was retrieved successfully.
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        public-roles:
        - D1_ShoppingCart_update
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/commitFromNonPersist:
    post:
      tags:
      - shoppingCart
      summary: (Internal) Commit non persistent change
      description: This operation commits a (cached) non-persistent change to the shopping cart entity.
      operationId: commitNonPersistentChange
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: nonPersistentIdentifier
        in: header
        description: |
          Unique identifier of the non-persistent change in the cache
        required: false
        type: string
      responses:
        "200":
          description: '*OK* - The shopping cart entity was updated successfully.'
          schema:
            $ref: '#/definitions/ShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-InternalAPI: true
      x-amdocs:
        route-service: shoppingcart-shoppingcart-service
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/calculatePrice:
    post:
      tags:
      - shoppingCartPrice
      summary: (Internal) Calculate price of a shopping cart
      description: |
        This task calculates the price of the shopping cart.
      operationId: calculatePrice
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - in: body
        name: priceShoppingCart
        description: |
          The is the price of the shopping cart.
        required: true
        schema:
          $ref: '#/definitions/PriceShoppingCart'
      responses:
        "200":
          description: |
            *Success* - The shopping cart price was calculated successfully.
          schema:
            $ref: '#/definitions/PriceShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-dox-InternalAPI: true
      x-amdocs:
        route-service: shoppingcart-price-service
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/qualifyPotentialPromotion:
    post:
      tags:
      - shoppingCartPrice
      summary: List qualified potential promotions
      description: |
        This API returns a list that qualifies potential promotions for shopping cart entity.
        **Business rules&#58;**
        - potentialQualificationItem (if set, the list is limited to the qualified potential promotions for the speficied cart item/s)
      operationId: qualifyPotentialPromotion
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - in: body
        name: shoppingCartPotentialPromotionQualification
        description: |
          The cart items and the reference to the shopping cart.
        required: true
        schema:
          $ref: '#/definitions/ShoppingCartPotentialPromotionQualification'
      responses:
        "200":
          description: |
            *OK* - The promotion qualification process was successful.
          schema:
            $ref: '#/definitions/ShoppingCartPotentialPromotionQualification'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "405":
          description: |
            *Method Not Allowed* - The server rejected the request because the HTTP method used by the resource is not supported by that resource.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-price-service
        public-roles:
        - D1_ShoppingCart_retrieve
        private-roles:
        - D1P_ShoppingCart_read
        - FndP_APIGateway_gw
      x-dox-Microservice: ShoppingCartPriceMS
  /shoppingCart/{shoppingCartId}/cartItem/{cartItemId}/cartPriceInstallmentOption:
    get:
      tags:
      - shoppingCartPrice
      summary: List installment options
      description: |
        This operation lists installment options for an cart item price.<p>
        **Business rules&#58;**
        - installment option applicable only for cartPrice.priceType = OC
        - customerId (if not provided, anonymous is assumed)

        **Reference value&#58;**
        - OC (Configuration&#58; validValues.priceType.oc)
      operationId: getCartPriceInstallmentOption
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the product cart.
        required: true
        type: string
      - name: cartItemId
        in: path
        description: |
          The ID of the cart item.
        required: true
        type: string
      - name: nestedPriceCartItemId
        in: query
        description: |
          The ID of the nested cart item.
        required: false
        type: string
      - name: cartPriceId
        in: query
        description: |
          The IDs of the relevant cart price.
          If it is not provided, all the cart prices are assumed to be relevant.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      responses:
        "200":
          description: |
            *OK* - The Installment Options were retrieved successfully.
          schema:
            type: array
            items:
              $ref: '#/definitions/CartPriceInstallmentOption'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      x-amdocs:
        route-service: shoppingcart-price-service
        public-roles:
        - D1_ShoppingCart_update
        private-roles:
        - D1P_ShoppingCart_write
        - FndP_APIGateway_gw
  /shoppingCart/{shoppingCartId}/checkout:
    post:
      tags:
      - checkout
      summary: Checkout of the shopping cart
      description: |
        This API creates a new product order from the input cart items. It first validates the cart. If the validation fails, then the product order is not created and a validation failure messages is returned. If validation passes, then a product order is created, and a product order ID is returned. If in the body the cart items are defined, checkout is performed only on those items, if only cart id is transferred the checkout is performed on the whole cart. If product order is part of the input in the checkout, the checkout items are added to the existing order.
      operationId: checkout
      consumes:
      - application/json;charset=utf-8
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: shoppingCartId
        in: path
        description: |
          The ID of the shopping cart.
        required: true
        type: string
      - name: Accept-Language
        in: header
        description: |
          Locale of the client
        required: false
        type: string
      - name: productOrderId
        in: query
        description: |
          Unique identifier of the product order
        required: false
        type: string
      - name: excludePrices
        in: query
        description: "Indicates if the operation should involve with price recalculation and/include prices in the response. \nSet to 'false' to recalculate prices and return them in the response. \n"
        required: false
        type: boolean
        default: true
      - in: body
        name: checkoutCartItem
        description: |
          Checkedout item list - for Partial Checkout
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: |
            *OK* - The checkout was successfully completed.
          schema:
            $ref: '#/definitions/CheckoutShoppingCart'
        "400":
          description: |
            *Bad Request* - The server cannot process the request due to a malformed syntax. The response can be caused by missing mandatory query parameters, invalid value in the query parameters, validation exceptions, and so on.
          schema:
            $ref: '#/definitions/Error'
        "404":
          description: |
            *Not Found* - The server did not find anything matching the request URI. The response can be caused by missing path parameters, invalid web resource, and so on.
          schema:
            $ref: '#/definitions/Error'
        "409":
          description: |
            *Conflict* - The server cannot complete the request due to a conflict with the current state of the resource.
          schema:
            $ref: '#/definitions/Error'
        "422":
          description: |
            *Unprocessable Entity* - The server understands the content type of the request entity, and the syntax of the request entity is correct, but was unable to process the contained instructions.
          schema:
            $ref: '#/definitions/ValidationError'
        "500":
          description: |
            *Internal Server Error* - The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
        "502":
          description: |
            *Bad Gateway* - The server encountered an unexpected condition when calling another service.
          schema:
            $ref: '#/definitions/Error'
        default:
          description: |
[...]
